
.container {
    font-family: 'Barlow', sans-serif;
}

.container h2 {
    font-family: 'Tungsten Bold', sans-serif;
    letter-spacing: 1px !important;
    font-size: 38px;
    cursor: pointer;
}

.card img {
    cursor: pointer;
}

.card {
    max-width: 400px;
    min-width: 300px;
    max-height: 434px;
    min-height: 470px;
    border: none;

}

.item-title {
    color: #000000;
    cursor: pointer;
    font-family: 'Tungsten Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 30px !important;
}

.item-title:hover {
    text-decoration: underline;
}

.reviewed span{
    color: #000000 !important;
}
.reviewed span:last-child{
    max-width: 290px;
    font-size: 13px;
}

.footer span:first-child {
    font-size: 0.75rem;
    cursor: pointer;
}

.footer span:first-child:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0) !important;
}











/* Slider CSS */
.slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-prev {
    background-color: #ccc !important;
    border-radius: 50px;
    z-index: 1;
}

.slick-next {
    background-color: #ccc !important;
    border-radius: 50px;
    z-index: 1;
}