.image-hover div {
    cursor: pointer;
}

.image-hover button {
    height: 30px;
    max-width: 80px;
    font-size: 10px;
    position: absolute !important;
}

.cMore-prd{
    font-family: 'Teko', sans-serif !important;
    font-size: 20px;
    letter-spacing: 2px;
}