.title {
    font-size: 14px !important;
    cursor: pointer;
}
.title:hover{
    text-decoration: underline ;
}

.price {
    color:  #000000 !important;
}

.card-list {
    background-color: #fff;
    max-width: 310px;
    max-height: 374px;
}

.rating h6 {
    font-size: 13px !important;
    color:  #000000 !important;
}

.image-hover div {
    cursor: pointer;
}
.image-hover

.rating {
    margin-left: 137px !important;
}

.image-hover button {
    height: 30px;
    max-width: 80px;
    font-size: 10px;
    position: absolute !important;
}

.fav-icon {
    cursor: pointer;
}

.fav-icon:hover {
    color: black !important;
}

.final {
    margin-top: 50px;
    font-family: 'Barlow', sans-serif;
}
.final h2{
    font-size: 48px;
    font-family: 'Tungsten Bold', sans-serif;
}
.revNum{
    position: relative;
    bottom: 3px;
}

/* Slider CSS */
.slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-prev {
    background-color: #ccc !important;
    border-radius: 50px;
    z-index: 1;
}

.slick-next {
    background-color: #ccc !important;
    border-radius: 50px;
    z-index: 1;
}