.title-product {
    font-size: 22px !important;
    cursor: pointer;
}
.title-product:hover{
    color:  #707071 !important;
}

.price {
    color:  #000000 !important;
}

.card-list {
    background-color: #fff;
    max-width: 310px;
    max-height: 374px;
}

.rating h6 {
    font-size: 13px !important;
    color:  #000000 !important;
}

.image-hover div {
    cursor: pointer;
}
.product-image{
    display: flex;
    justify-content: center;
}

.rating {
    margin-left: 137px !important;
}

.image-hover button {
    height: 30px;
    max-width: 80px;
    font-size: 10px;
    position: absolute !important;
}

.fav-icon {
    cursor: pointer;
}

.fav-icon:hover {
    color: black !important;
}

.final {
    margin-top: 80px;
    margin-bottom: 100px;
    font-family: 'Barlow', sans-serif;
    /* background-color: #000000; */
}
.final h1{
    font-size: 48px;
    font-family: 'Teko', sans-serif;
}
.revNum{
    position: relative;
    bottom: 3px;
}

/* Slider CSS */
.slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    background: #ffffff !important;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    z-index: 1;
}

.slick-next::before{
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='black' class='bi bi-chevron-right' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.slick-prev::before{
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='black' class='bi bi-chevron-left' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}


/* ellipsis title */
.text-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
