.first-promos img{
    cursor: pointer;
}

@media (max-width: 1100px) {
    .first-row{
        display: flex;
        flex-direction: column;
    }
    .first-row img{
        max-width: 100%;
    }
    .second-row{
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }
    .second-row img{
         max-width: 100%;  
    }
    } 
    

