.navbar{
  font-family: 'Barlow', sans-serif;
}

.logo-name:hover{
  color: #000000 !important;
}

.navbar-brand{
  font-family: 'Tungsten Bold', sans-serif;
  letter-spacing: 10px;
}

.navbar-brand:hover{
  color: #000000 !important;
}

.nav-category:hover{
  color: #707071 !important;
}

.navbar-brand img{
  height: 80px;
}

/* icons */
.bi{
  color: #000000 !important;
  font-size: 22px;
}

.bi:hover{
  color: #707071 !important;
  font-size: 22px;
}

.bi.bi-suit-heart{
  font-size: 22px;
}



.bi.bi-caret-down-fill{
  color: #000000;
  font-size: 12px;
}

.bi.bi-search{
  font-size: 14px;
  font-weight: 1400;
  color: #000000;
}

.bi.bi-box-arrow-right{
  margin-left: 0.1em;
}


/* searchbox */
form.searchContainer{
  background-color: transparent !important;
  border-bottom: 1px solid #dcdbdb;
}


form.searchContainer:focus-within{
  border-bottom: 1px solid #000000;
}

.searchbox{
  font-size: 16px;
  color: #000000 !important;
  background-color: transparent !important;
}

.searchbox:focus{
  outline: none !important;
  box-shadow: none;
}

.searchbox::-webkit-search-cancel-button{
  display: flex !important;
  align-items: center !important;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'%3e%3cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/%3e%3c/svg%3e") no-repeat 50% 50%;
}

.search-btn:focus{
  font-size: 14px;
  outline: none !important;
  box-shadow: none !important;
}

.search-btn{
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

/* badge */
.badge{
  padding: 3px;
  width: 22px;
  height: 22px;
  font-size: .8em !important;
  color: #000000 !important;
  background-color: #ffffff !important;
  border: 1px solid #000000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.translate-middle{
  transform: translate(-30%,-40%)!important;
}

/* mobile */
@media (max-width: 576px){
  .nav-category{
    display: block !important;
  }

  /* icons */
  .bi.bi-cart3,
  .bi.bi-suit-heart,
  .bi-person-circle{
    font-size: 18px !important;
  }

  .bi.bi-caret-down-fill{
    font-size: 8px;
  }

  .heart-icon{
    margin-right: .5rem !important;
  }

  .cart-icon{
    margin-right: .5rem !important;
    margin-left: .5rem !important;
  }

  .user-icon{
    margin-left: .5rem !important;
  }

  /* logo */
  .navbar-brand{
    margin: 0px !important;
    padding: 0px !important;
  }

  .navbar-brand span{
    font-size: 24px !important;
    padding-right: 0px !important;
    padding-left: 8px !important;
  }

  .navbar-brand img{
    height: 50px !important;
  }

  /* menu */
  .vegMenu{
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }

  .bi-list {
    font-size: 28px;
  }
  
  .vegMenu:focus{
    outline: none !important;
    box-shadow: none !important;
  }
}


/* small laptops */
@media (max-width: 992px){
  .nav-category{
    display: none !important;
  }

  .searchContainer{
    display: none !important;
  }

  /* menu */
  .vegMenu{
    display: block !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }

  .bi-list {
    font-size: 40px;
  }
  
  .vegMenu:focus{
    outline: none !important;
    box-shadow: none !important;
  }
}

/* laptops and desktops */
@media (min-width: 992px){
  .menu-container{
    display: none !important;
  }
}

.nav-category{
  font-weight: 700 !important;
  font-size: 18px !important;
}

/* default display */
.vegMenu{
  display: none;
}

/* menu */
.menu-container{
  position: fixed !important;
  top: 0px !important;
  background-color: #ffffff !important;
  height: 100% !important;
  width: 100% !important;
}

.bi.bi-x-lg{
  font-size: 30px;
  padding-right: 2px !important;
  padding-top: 22px !important;
}

.menu-list{
  font-family: 'Tungsten Bold', sans-serif;
  letter-spacing: 3px;
}

.menu-list .list-group-item{
  font-size: 40px;
}

.searchmenu{
  background-color: transparent !important;
  border-bottom: 1px solid #dcdbdb;
}

.searchmenu:focus-within{
  background-color: transparent !important;
  border-bottom: 1px solid #000000;
}

#openMenu{
  position: fixed;
  z-index: 3 !important;
}

.sticky-top{
  z-index: 2 !important;
}