.footer{
  color: #ffffff !important;
}

a {
  color: #ffffff !important;
  text-decoration: none !important;
}

.footer-link:hover, .footer-sign a:hover{
  color: #9b9999 !important;
}

.logo-text{
  font-family: 'Tungsten Bold', sans-serif;
  letter-spacing: 8px;
  font-size: 38px;
}

.footer-title{
  font-family: 'Tungsten Bold', sans-serif;
  letter-spacing: 4px;
  font-size: 36px;
}

.team_icon {
  border-radius: 50%;
  height: 80px;
}

.team{
  font-family: 'Tungsten Bold', sans-serif;
  letter-spacing: 2px;
}

.footer-sign{
  color: #000000;
}

.footer-sign a {
  color: #000000;
}

.footer-link{
  font-weight: 500 !important;
  color: #ffffff !important;
}

/* mobile */
@media (max-width: 576px){
  .footer-contianer{
    background-color: #000000 !important;
  }

  .footer-sign{
    display: none !important;
  }

  .footer-sign-mobile{
    font-size: 14px;
  }

}

/* tablet */
@media (max-width: 768px){
  .footer-sign{
    display: none !important;
  }

  .footer-sign-mobile{
    display: block !important;
  }
}

/* small laptops */
@media (max-width: 992px){
  .footer-contianer{
    background-color: #000000 !important;
  }

  .footer-sign,
  .footer-sign a{
    color: #ffffff;
  }

  .footer-nav{
    display: none !important;
  }

  .footer-sign-mobile{
    display: none;
  }

}


/* laptops and desktops */
@media (min-width: 992px){
  .footer-sign-mobile{
    display: none !important;
  }
}

p {
  margin-bottom: 0px !important;
}
